
// Fonts

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "horizon";
body{
  font-family: 'Open Sans', sans-serif;
}
.appbar{
  margin-bottom: 25px;
  .navbar-brand{
    color: #000;
    font-weight: bolder;
  }
}
.breadcrumb{
  background: white;
}
.downloadnav{
  .nav-link {
    margin-bottom: 20px;
  }
}
.report td {
  padding: 6px 2px;
}

.uc{
  text-transform: uppercase !important;
}

.sidebar-sticky{
  position: fixed;
}
.dashboard-nav .fa {
  margin-right: 4px;
  color: #212529;
}
.dashboard-nav a{
  color: #212529;
}
.dashboard-nav .fa {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}
.avatar {
  text-transform: uppercase !important;
  border-radius: 50%;
  color: #fff;
  display: inline-flex;
  justify-content: center;
  font-size: 11px;
  height: 30px;
  line-height: 30px;
  width: 30px;
  background-color: #4186e0;
  margin-right: 10px;
}
.avatar.not-assigned {
  background: transparent;
  color: #333;
  border: 1px dotted #343a40;
}
.comment-item{
  display: flex;
  width: 100%;
}

.navbar-icon {
  font-size: 18px;
  margin-top: 6px;
}

.modal-lg-custom{
    max-width: 100%;
}

.modal.docked .modal-dialog{
  position:fixed;
  top:0;
  margin:0;
  height:100vh;
  width:100%;
}
.modal.docked.docked-left .modal-dialog{
  left:0
}
.modal.docked.docked-right .modal-dialog{
  right:0
}
.modal.docked .modal-content{
  border-radius:0;
  height:100vh
}
.modal.docked .modal-footer{
  position:fixed;
  bottom:0;
  right:0
}

.modal.docked .modal-header {
    width: 100%;
    position: fixed;
    z-index: 100;
}

.modal.docked .modal-content {
    overflow-y: scroll;
    height: 100vh;
    min-height: 100vh;
}
.modal.docked .modal-body{
  padding-top:90px;
  padding-bottom:72px;
}
// Hat-tip to Bulma.
.loader {
  color: transparent !important;
  pointer-events: none;
  position: relative;
}

.loader:after {
  animation: spinAround 500ms infinite linear;
  border: 2px solid #dbdbdb;
  border-radius: 290486px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  width: 1em;
  height: 1em;
  position: relative;
  position: absolute;
  left: calc(50% - (1em / 2));
  top: calc(50% - (1em / 2));
  position: absolute !important;
}

@keyframes spinAround {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
