.card {
  box-shadow: 0 2px 3px rgba(0, 0, 0, .16);
  .card-header {
    font-size: 1.1rem;
  }
}

.modal {
  .modal-header {
    background: #fff;
  }

  .modal-content {
    background: #fafafa;
  }
}

.fill-white {
  fill: #fff;
}

.fill-primary {
  fill: $primary;
}

.fill-success {
  fill: $success;
}

.fill-danger {
  fill: $danger;
}

.fill-warning {
  fill: $warning;
}

.card-table {
  margin: 0;

  tr:first-child {
    td {
      border: 0;
    }
  }

  th {
    background-color: #ebecee;
    vertical-align: middle;
    font-weight: normal;
    padding: 0.5rem 1.25rem;
    border: 0;
  }

  td {
    padding: 1.25rem;
    vertical-align: middle;
  }
}

.card-tabs {
  padding: 0 1.25rem;

  .nav-item {
    margin-right: 1.5rem;
  }

  .nav-link {
    border: 0;
    color: #495057;
    padding: 0.8rem 0;
  }

  .nav-link.active {
    background-color: transparent;
    color: $primary;
    border-bottom: solid 2px $primary;
  }
}

.stats {
  overflow: scroll;

  .stat {
    border-color: #d8d8d8;
    border-right: 1px solid;
    border-bottom: 1px solid;

    .stat-title {
      font-size: 0.8rem;
      text-transform: uppercase;
      color: $gray-700;
    }

    .stat-value {
      font-size: 1.2rem;
    }

    .stat-meta {
      font-size: 14px;
      //line-height: 2rem;
      strong {
        font-size: 16px;
      }
    }
  }
}

.statusIcon {
  > svg {
    width: 1.5rem;
    height: 1.5rem
  }
}

.icon {
  > svg {
    width: 1.5rem;
    height: 1.5rem
  }
}

.icon-sm {
  > svg {
    width: 1rem;
    height: 1rem
  }
}
